* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

navbar {
    background-color: white;
}

.nav-link {
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    background-color: rgb(153, 27, 123);
}

.navbar-brand {
    font-size: 1.25rem;
    color: black;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand:hover {
    color: rgb(153, 27, 123);
}

.main {
    background: url(https://img.freepik.com/premium-photo/female-developer-background_665280-9660.jpg)no-repeat;
    height: 100;
    width: 100%;
    background-position: right;
}

.main h3 {
    font-size: 4.4rem;
    font-weight: 600;
}

.main h6 {
    font-size: 1.4rem;
    transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(153, 27, 123);
    width: 33%;
}

.main .btn1 {
    height: 55px;
    width: 138px;
    color: white;
    background-color: rgb(153, 27, 123);

    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

.main .btn2 {
    height: 55px;
    width: 138px;
    color: white;
    background-color: rgb(153, 27, 123);
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#btn {
    height: 55px;
    width: 138px;
    color: white;
    background-color: rgb(153, 27, 123);

    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

.progress-bar {
    background-color: rgb(153, 27, 123);
}

.icon {
    color: rgb(153, 27, 123);
}

.h1 {
    color: rgb(153, 27, 123);
    font: 200;
}

.h2 {
    color: rgb(153, 27, 123);
}

#fake {
    color: rgb(153, 27, 123);
}

.btn3 {
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgb(153, 27, 123);
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

#icon {
    color: rgb(153, 27, 123);
}

.btn4 {
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(153, 27, 123);
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
}

.p1 {
    color: rgb(153, 27, 123);
}

.p2 {
    color: rgb(153, 27, 123);
}

.p3 {
    color: rgb(153, 27, 123);
}

.p4 {
    color: rgb(153, 27, 123);
}

.parentdiv-of-1-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h2 {
    text-align: center;
}


